body {
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}


video {
    width: 100%;
    max-width: 800px;
    display: none;
    margin-top: 20px;
}

#verRespuesta {
    display: none;
    margin: 10px; /* Agrega un margen superior */
    font-size: 18px;
    color: #ffffff;
}

.respuesta {
    font-size: 18px;
    color: #071f4c;
    margin-top: 10px; /* Agrega un margen superior */
    padding: 10px; /* Agrega un espacio interno al elemento de respuesta */
    background-color: #f2f2f2; /* Fondo gris claro */
    border: 1px solid #ccc; /* Borde del elemento */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
}

#siguiente{
    display: none;
    margin: 10px; /* Agrega un margen superior */
    font-size: 18px;
    color: #ffffff;
}
